.itemupload_content {
  border: 1px solid #ccc;
  padding: 20px;
  padding-left: 100px;
  overflow: hidden;
}
.itemupload_content .itemupload_content_top .tips {
  color: red;
  font-weight: 800;
  margin-left: 100px;
}
.itemupload_content .button_comp {
  margin-top: 40px;
  margin-left: 200px;
}
.itemupload_content .button_comp div {
  float: left;
  background: #7ab9f5;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
  box-sizing: border-box;
}
.itemupload_content .button_comp .button_comp_l {
  margin-right: 20%;
  margin-left: 10px;
}
.itemupload_content .button_comp .button_comp_r {
  background: #d6cece;
}
.itemupload_content .button_comp .button_comp_l:hover {
  box-shadow: 0 0 0 5px #58c inset;
  cursor: pointer;
}
.itemupload_content .button_comp .button_comp_r:hover {
  box-shadow: 0 0 0 5px #a39d9d inset;
  cursor: pointer;
}
