.Administrators_content {
  position: absolute;
  top: 0;
  right: 100px !important;
  display: flex;
  z-index: 9999;
  padding-top: 10px;
}
.Administrators_content .adImg {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.Administrators_content .adImg img {
  display: block;
  height: 100%;
  border-radius: 50%;
}
.Administrators_content .name {
  position: relative;
  color: #fff;
}
.Administrators_content .name p {
  margin: 0;
  padding: 0;
  line-height: 34px;
  padding-left: 20px;
  cursor: pointer;
}
.Administrators_content .name .oprate {
  width: 150px;
  background: #fff;
  position: absolute;
  top: 56px;
  right: -80px;
  box-shadow: 0 0 5px 2px #ccc inset;
  color: #000;
}
.Administrators_content .name .oprate p:hover {
  background: #80be63;
}
