.Exam_content{
    h1{
        height: 60px;
        font-size: 28px;
        border-bottom: 1px solid #ccc;
    }
    .Exam_list{
        display: flex;
        padding-top: 50px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        .my_item{
            // background: red;
            border: 1px solid #ccc;
            padding: 20px;
            box-sizing: border-box;
            width: 520px;
            position: relative;
            .defen{
                position: absolute;
                // background: red;
                font-size: 24px;
                color: #58c;
                top: 70px;
                right: 30px;
                p{
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
}