.MoneyDetail_content h2 {
  height: 60px;
  text-align: center;
  font-weight: 800;
  border-bottom: 1px solid #ece8e8;
  margin-bottom: 30px;
}
.MoneyDetail_content .ant-table-body {
  border: 1px solid #f0efef;
}
.MoneyDetail_content .ant-table-body .ant-table-thead th {
  box-shadow: 0 0 1px 0 inset;
  padding: 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
